        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/js/buttons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/locale/en-gb.js"></script>
        <script src="/js/lib/autosize.min.js"></script>
        <!--<script src="/js/lib/emojionearea/emojionearea.min.js"></script>-->
        <script src="/js/ajax.js"></script>
        <script src="/js/main.js"></script>
    </body>
    
</html>